# The title of the project in QMap

title: Tree Inspection (Sample)

# List sync providers that this project can use
# Each sync provider will be listed in dropdown button
# in the UI

providers:
    Trees:
        type: replication
        cmd: Sync-Inspections.bat
    Trees2:
        type: replication
        cmd: Sync-Inspections.bat